<div class='d-flex justify-content-center'>
    <form method='POST'>
        <div class='input-group'>
            <span class='input-group-text'>Search for course code:</span>
            <input type='text' name='course_code' class='form-control'>
        </div>
    </form>
</div>